<h1 mat-dialog-title>
    Nueva Pago
</h1>

<div mat-dialog-content>
    <ng-template #loadingSpinner aria-hidden="true">
        <div class="spinner-container">
            <mat-progress-spinner mode="indeterminate" diameter="48">
            </mat-progress-spinner>
        </div>
    </ng-template>

    <form [formGroup]="addPagoForm">
        <div class="info-grid">

            <!-- Fila 1: 5 campos -->
            <div class="row-1">
                <div class="info-item">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Fecha</mat-label>
                    <input matInput formControlName="fechaPago" type="date" required>
                </mat-form-field> 
                </div>                   
            </div>

            <!-- Fila 2 -->
            <div class="row-2">      
                <div class="info-item">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Referencia</mat-label>
                        <input matInput formControlName="referencias" type="text" required>
                    </mat-form-field> 
                </div>        
                <div class="info-item" style="max-width: 150px;">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Tipo de pago</mat-label>
                        <mat-select formControlName="tipo_pago" required>
                            <mat-option *ngFor="let tipo of tiposPago" [value]="tipo.codigo">
                                {{ tipo.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            
            <!-- Fila 3 -->
            <div class="row-3">
                <div class="info-item ">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="importe" type="number" required>
                </mat-form-field> 
                </div>                       
            </div>
        </div>
    </form>
</div>



<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="addPagoForm.invalid">
        <mat-icon>save</mat-icon> {{ dataForm ? 'Actualizar' : 'Guardar' }}
    </button>
</div>