.sub-menu li a,
.sub-icon {
    font-weight: bold;
}

.custom-icon li a:before {
    content: '\e114';
    margin-right: 8px;
    position: relative;
    font-family: 'typicons' !important;
    opacity: 0.6;
}